---
import Section from "@/components/Section.astro";

import { work } from "@cv";
---

<Section title="Experiencia Laboral">
    <ul>
        {
            work.map(
                ({
                    name,
                    startDate,
                    endDate,
                    position,
                    summary,
                    highlights,
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const endYear =
                        endDate !== null
                            ? new Date(endDate).getFullYear()
                            : "Actualidad";
                    const years = `${startYear} - ${endYear}`;

                    return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{name}</h3>
                                        <h4>{position}</h4>
                                    </div>
                                    <time>{years}</time>
                                </header>
                                <footer>
                                    <p>{summary}</p><br/>
                                    <h4>Highlights</h4><br/>
                                    <ul class="highlights-list">
                                        {highlights.map((highlight) => (
                                            <li>{highlight}</li>
                                        ))}
                                    </ul>
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    article h3 {
        font-weight: 500;
        color: #111;
    }

    article h4 {
        color: #222;
        font-weight: 400;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #555;
        font-size: 0.85rem;
    }

    .highlights-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    .highlights-list li {
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        width: fit-content;
    }

</style>
